<article class='page-body content'>
  <header class='page-header'>
    <div class="container">
      <div class='heading'>
        <h1 class='title is-3'><%= @drill_hole.name %></h1>
        <h2 class='subtitle is-5'><%= @drill_hole.site.site_name %></h2>
      </div>   
    </div>
  </header>

  <!-- log info -->
  <section class='drill-log'>
    <div class="container">
    <%= form_for @drill_hole, url: { action: 'update' }, html: { class: 'columns' }, remote: true do |f| %>
      <div class="column is-5">
        <p class="control columns">
          <label class="label column is-3">Logged by:</label>
          <%= f.text_field :logged_by, class: 'input column is-8 is-medium input-locked', readonly: true %>
        </p>

        <p class="control columns">
          <label class='label column is-3'>Latitude:</label>
          <%= f.number_field :dh_lat, class: 'input column is-8 is-medium input-locked', readonly: true %>
        </p>

        <p class="control columns">
          <label class="label column is-3">Longitude:</label>
          <%= f.number_field :dh_lng, class: 'input column is-8 is-medium input-locked', readonly: true %>
        </p>

        <p class="control columns">
          <label class="label column is-3">Ground Elevation:</label>
          <%= f.number_field :ground_elev, class: 'input column is-8 is-medium input-locked', readonly: true %>
        </p>

        <p class="control columns">
          <label class="label column is-3">Depth:</label>
          <%= f.number_field :depth, class: 'input column is-8 is-medium input-locked', readonly: true %>
        </p>
      </div>

      <div class="column is-5">
        <p class="control columns">
          <label class="label column is-3">Start:</label>
          <%= f.number_field :water_level_start, class: 'input column is-8 is-medium input-locked', readonly: true %>
        </p>

        <p class="control columns">
          <label class="label column is-3">Durning:</label>
          <%= f.number_field :water_level_during, class: 'input column is-8 is-medium input-locked', readonly: true %>
        </p>

        <p class="control columns">
          <label class="label column is-3">End:</label>
          <%= f.number_field :water_level_end, class: 'input column is-8 is-medium input-locked', readonly: true %>
        </p>                        

        <p class="control columns">
          <label class="label column is-3">Hole Size:</label>
          <%= f.number_field :hole_size, class: 'input column is-8 is-medium input-locked', readonly: true %>
        </p>                

        <p class="control columns">
          <label class="label column is-3">Method:</label>
          <%= f.text_field :method, class: 'input column is-8 is-medium input-locked', readonly: true %>
        </p>                
      </div>

      <div class="column is-2 drill-log-controls">

        <p class="control">
          <a href='#' class='control-edit button button-full is-primary'>Edit</a>
        </p>

        <p class="control">
          <%= f.submit "Save Changes", class: 'control-save button button-full is-success' %>
        </p>

        <p class="control">
          <button class='control-cancel button button-full is-danger'>Cancel</button>
        </p>

        <p class="control">
          <button class="control-review button button-full is-info">Mark as Reviewed</button>  
        </p>
      </div>
    <% end %>
    </div>
  </section>
  <!-- end log info -->

  <!-- layers header -->
  <section class='layers-header'>
    <div class="container">
      <header class='log-header columns'>
        <div class="log-column-title column is-1">
          <p>Depth</p>
        </div>

        <div class="log-column-title column is-1">
          <p>Graphic Log</p>
        </div>

        <div class="log-column-title column is-5">
          <p>Description</p>
        </div>

        <div class="log-column-title column is-1">
          <p>Type</p>
        </div>

        <div class="log-column-title column is-3">
          <p>Sample Data</p>
        </div>                        
      </header>    
    </div>
  </section>
  <!-- end layers header -->

  <!-- layers -->
  <section id='layers-log' class='layers-log'>
    <!-- <div class="container"> -->
      <div class="layer-rules layer-rules-left">
        <ul></ul>
      </div>

      <% for layer in @layers %>
        <div class="layer columns" data-height='<%= layer.thickness %>'>

          <div class="log-column-depth column layer-height is-1">
            <div class="depth-arrow arrow-up">&#8593;</div>
            <div class="depth-indicator"></div>
            <div class="depth-arrow arrow-down">&#8595;</div>        
            <div class='col-centered'>
              <span class='thickness-val'><%= layer.round_thickness %></span>m
            </div>
            <div class="abs-depth">
              <div class='abs-depth-value'></div>
              <!-- <div class="abs-depth-arrow"></div> -->
            </div>
          </div>

          <div class="log-column-glog column is-1 gl gl-<%= layer.material_type.name %>">
            <p><%= layer.material_type.name %></p>
          </div>

          <div class="log-column-desc column is-5">
            <p><%= layer.description %></p>
          </div>

          <div class="log-column-type column is-1">
            <p></p>
          </div>

          <div class="log-column-data column is-4">
            <div class='layer-controls'>
              <button class='button is-warning button-layer-edit'><i class="fa fa-pencil-square-o"></i> Edit</button>
            </div>
          </div>                     
        </div>

      <% end %>

      <canvas id='layer-data' class='layer-data'></canvas>    

      <div class="layer-rules layer-rules-right">
        <ul></ul>
      </div>    

    <!-- </div> -->
  </section>
  <!-- end layers -->

  <!-- new layer -->
  <section class='layer-new'>
    <div class="container">
      <h2>New Layer</h2>
      <form>
        <div class="columns">
          <p class="control column is-1">
            <label class='label'>depth</label>
            <input class='input' type='number'></input>
          </p>

          <p class="control column is-1">
            <label class="label">Graphic</label>
            <input class="input" type='select'></input>
          </p>

          <p class="control column is-5">
            <label class="label">Description</label>
            <textarea class='textarea'></textarea>  
          </p>

          <p class="control column is-2">
            <label class="label">Sample Type</label>
            <input class="input"></input>
          </p>

          <p class="control column is-3">
            <label class="label">Sample Data</label>
            <input class="input"></input>
          </p>
        </div>

        <button class='button is-primary'>Submit</button>
      </form>
    </div>
  </section>
  <!-- end new form -->
</article>