<article class='page-body content section'>
  <header class='page-header'>
    <h1 class='page-title'>
      <p class='title'><%= @drill_hole.name %></p>
      <p class='subtitle'>Site: <%= @drill_hole.site.site_name %></p>
    </h1>
    <!-- <h2 class='subtitle is-3'></h2> -->
  </header>

  <section class='section drill-log'>

    <%= form_for @drill_hole, url: { action: 'edit' }, html: { class: 'columns' } do |f| %>
      <!-- TODO: Build a label helper as defined in the docs to generate labels with classes -->
      <div class="column is-5">
        <p class="control columns">
          <label class="label column is-3">Logged by:</label>
          <%= f.text_field :logged_by, class: 'input column is-8 is-medium', readonly: true %>
        </p>

        <p class="control columns">
          <label class='label column is-3'>Latitude:</label>
          <%= f.number_field :dh_lat, class: 'input column is-8 is-medium', readonly: true %>
        </p>

        <p class="control columns">
          <label class="label column is-3">Longitude:</label>
          <%= f.number_field :dh_lng, class: 'input column is-8 is-medium', readonly: true %>
        </p>

        <p class="control columns">
          <label class="label column is-3">Ground Elevation:</label>
          <%= f.number_field :ground_elev, class: 'input column is-8 is-medium', readonly: true %>
        </p>

        <p class="control columns">
          <label class="label column is-3">Depth:</label>
          <%= f.number_field :depth, class: 'input column is-8 is-medium', readonly: true %>
        </p>
      </div>

      <div class="column is-5">
        <p class="control columns">
          <label class="label column is-3">Start:</label>
          <%= f.number_field :water_level_start, class: 'input column is-8 is-medium', readonly: true %>
        </p>

        <p class="control columns">
          <label class="label column is-3">Durning:</label>
          <%= f.number_field :water_level_during, class: 'input column is-8 is-medium', readonly: true %>
        </p>

        <p class="control columns">
          <label class="label column is-3">End:</label>
          <%= f.number_field :water_level_end, class: 'input column is-8 is-medium', readonly: true %>
        </p>                        

        <p class="control columns">
          <label class="label column is-3">Hole Size:</label>
          <%= f.number_field :hole_size, class: 'input column is-8 is-medium', readonly: true %>
        </p>                

        <p class="control columns">
          <label class="label column is-3">Method:</label>
          <%= f.text_field :method, class: 'input column is-8 is-medium', readonly: true %>
        </p>                
      </div>

      <div class="column is-2">
        <p class="control">
          <%= f.submit "Edit", class: 'button button-full is-primary' %>
        </p>

        <p class="control">
          <button class="button button-full is-success">Mark as Reviewed</button>  
        </p>
      </div>
    <% end %>

  <section class='section layers-header'>
    <header class='log-header columns'>
      <div class="log-column-depth column is-1">
        <p>Depth</p>
      </div>

      <div class="log-column-title column is-1">
        <p>Graphic Log</p>
      </div>

      <div class="log-column-title column is-5">
        <p>Description</p>
      </div>

      <div class="log-column-title column is-1">
        <p>Type</p>
      </div>

      <div class="log-column-title column is-3">
        <p>Sample Data</p>
      </div>                        
    </header>    
  </section>

  <section id='layers-log' class='layers-log'>
    <div id="layer-rules">
      <ul></ul>
    </div>

    <% for layer in @layers %>
      <div class="layer columns" data-height='<%= layer.thickness %>'>
        <div class="log-column-depth column layer-height is-1">
          <p><%= layer.round_thickness %> m</p>
        </div>

        <div class="log-column-glog column is-1 gl gl-<%= layer.material_type.name %>">
          <p><%= layer.material_type.name %></p>
        </div>

        <div class="log-column-desc column is-5">
          <p><%= layer.description %></p>
        </div>

        <div class="log-column-type column is-1">
          <p>?</p>
        </div>

        <div class="log-column-data column is-4">
          <!-- hm... how to handle this data -->
        </div>                     
      </div>
    <% end %>

    <canvas id='layer-data' class='layer-data'></canvas>    
  </section>

  <section class='section layer-new'>
    <h2>New Layer</h2>
    <form>
      <div class="columns">
        <p class="control column is-1">
          <label class='label'>depth</label>
          <input class='input' type='number'></input>
        </p>

        <p class="control column is-1">
          <label class="label">Graphic</label>
          <input class="input" type='select'></input>
        </p>

        <p class="control column is-5">
          <label class="label">Description</label>
          <textarea class='textarea'></textarea>  
        </p>

        <p class="control column is-2">
          <label class="label">Sample Type</label>
          <input class="input"></input>
        </p>

        <p class="control column is-3">
          <label class="label">Sample Data</label>
          <input class="input"></input>
        </p>
      </div>

      <button class='button is-primary'>Submit</button>

    </form>
  </section>
</article>