<section>
  <div iclass='heading'>
    <h1 style="font-weight: 900; font-size: 25px;"><%= @drill_hole.name %></h1>
    <h2 style="font-weight: 900; font-size: 20px;"><%= @drill_hole.site.site_name %></h2>
  </div>
  <br />
  <br />
  <div class="container">
    <div class="columns" style="width: 100%;">
      <div class="column is-5" style="width: 50%;">
        <p class="control">Logged by: <%= @drill_hole.logged_by %></p>
        <p class="control">Latitude: <%= @drill_hole.dh_lat %></p>
        <p class="control">Longitude: <%= @drill_hole.dh_lng %></p>
        <p class="control">Ground Elevation: <%= @drill_hole.ground_elev %></p>
        <p class="control">Depth: <%= @drill_hole.depth %></p>
      </div>
      <div class="column is-5" style="width: 50%;">
        <p class="control">Water Level Start: <%= @drill_hole.water_level_start %></p>
        <p class="control">Water Level During: <%= @drill_hole.water_level_during %></p>
        <p class="control">Water Level End: <%= @drill_hole.water_level_end %></p>
        <p class="control">Hole Size: <%= @drill_hole.hole_size %></p>
        <p class="control">Method: <%= @drill_hole.method %></p>
      </div>
    </div>
    <br />
    <br />
    <section class='layers-header'>
      <div class="container">
        <header class='log-header columns' style="width: 100%;">
          <div class="log-column-title column is-1" style="width: 10%;">
            <p class='is-text-centered'>Depth</p>
          </div>

          <div class="log-column-title column is-1" style="width: 14%;">
            <p class='is-text-centered'>Graphic Log</p>
          </div>

          <div class="log-column-title column is-5" style="width: 42%;">
            <p class='is-text-centered'>Description</p>
          </div>

          <div class="log-column-title column is-4" style="width: 34%;">
            <p class='is-text-centered'>Sample Data</p>
          </div>
        </header>
      </div>
    </section>

    <section id='layers-log' class='layers-log'>
      <!-- <div class="container"> -->
      <div class="layer-rules layer-rules-left" style="width: 4%;">
        <ul></ul>
      </div>
      <% @depth = 0.0 %>
      <% @max_depth = 10.0 %>
      <% for layer in @layers %>
        <% @depth += layer.thickness %>
        <% if @depth >= @max_depth %>
          <% @max_depth += 10.0 %>
          <p style='page-break-after: always;'></p>
        <% end %>
        <div class="layer columns" data-height='<%= layer.thickness %>' data-id='<%= layer.id %>' data-order='<%= layer.layer_order %>' style="width: 100%;">

          <div class="log-column-depth column layer-height is-1" style="width: 10%;">
            <div class="depth-arrow arrow-up">&#8593;</div>
            <div class="depth-indicator"></div>
            <div class="depth-arrow arrow-down">&#8595;</div>
            <div class='col-centered'>
              <span class='thickness-val'><%= layer.round_thickness %></span>m
            </div>
            <div class="abs-depth">
              <div class='abs-depth-value'></div>
              <!-- <div class="abs-depth-arrow"></div> -->
            </div>
          </div>

          <div class="log-column-glog column is-1 gl gl-<%= layer.material_type.name %>" style="width: 14%;">
            <p><%= layer.material_type.name %></p>
          </div>

          <div class="log-column-desc column is-6" style="width: 42%;">
            <p class="layer-date"><span class="underline"><%= layer.date_drilled %></span> | Material Type: <%= layer.material_type.name %></p>
            <p class="layer-description"><%= layer.description %></p>
          </div>

          <div class="log-column-data column is-4" style="width: 34%;">
            <div class='layer-controls'>
            </div>
          </div>
        </div>
      <% end %>
      <canvas id='layer-data' class='layer-data'></canvas>
      <div class="layer-rules layer-rules-right" style="width: 4%;">
        <ul></ul>
      </div>
    <!-- </div> -->
    </section>
  </div>

  <section>
    <div id='field-test-data' class='hidden'>
      <% for test in @field_tests %>
        <% if test[0] %>
          <span class='test-data field-test' data-type='<%= test[0].test_type %>' 
            data-from='<%= test[0].depth_from %>' 
            data-to='<%= test[0].depth_to %>'
            data-spts='<%= test[1].blow_count %>'
          </span>
        <% end %>
      <% end %>
    </div>

    <div id='lab-test-data' class='hidden'>
      <% for test in @lab_tests %>
        <% if test[0] %>
          <span class='test-data lab-test' 
            data-type='<%= test[0].test_type %>' 
            data-from='<%= test[0].depth_from %>' 
            data-to='<%= test[0].depth_to %>'
            data-size='<%= test[1].fines_content %>'
          </span>
        <% end %>
      <% end %>
    </div>
  </section>
</section>