<article class='page-body content' data-site='<%= @drill_hole.id %>-<%= @drill_hole.site.id %>'>
  <header class='page-header static-map'>
    <div class="container">
      <div class='heading' id="drill-hole" data-drill-hole-id="<%= @drill_hole.id %>">
        <h1 class='title is-3'><%= @drill_hole.name %></h1>
        <h2 class='subtitle is-5'><%= link_to @drill_hole.site.site_name, site_path(@drill_hole.site_id) %></h2>
      </div>
    </div>
  </header>

  <!-- log info -->
  <section class='drill-log'>
    <div class="container">
    <%= form_for @drill_hole, url: { action: 'update' }, html: { class: 'columns' }, remote: true do |f| %>
      <div class="column is-5">
        <p class="control columns">
          <label class="label column is-3">Logged by:</label>
          <%= f.text_field :logged_by, class: 'input column is-8 is-medium input-locked', readonly: true %>
        </p>

        <p class="control columns">
          <label class='label column is-3'>Latitude:</label>
          <%= f.number_field :dh_lat, class: 'input column is-8 is-medium input-locked', readonly: true %>
        </p>

        <p class="control columns">
          <label class="label column is-3">Longitude:</label>
          <%= f.number_field :dh_lng, class: 'input column is-8 is-medium input-locked', readonly: true %>
        </p>

        <p class="control columns">
          <label class="label column is-3">Ground Elevation:</label>
          <%= f.number_field :ground_elev, class: 'input column is-8 is-medium input-locked', readonly: true %>
        </p>

        <p class="control columns">
          <label class="label column is-3">Depth:</label>
          <%= f.number_field :depth, class: 'input column is-8 is-medium input-locked', readonly: true %>
        </p>
      </div>

      <div class="column is-5">
        <p class="control columns">
          <label class="label column is-3">Start:</label>
          <%= f.number_field :water_level_start, class: 'input column is-8 is-medium input-locked', readonly: true %>
        </p>

        <p class="control columns">
          <label class="label column is-3">Durning:</label>
          <%= f.number_field :water_level_during, class: 'input column is-8 is-medium input-locked', readonly: true %>
        </p>

        <p class="control columns">
          <label class="label column is-3">End:</label>
          <%= f.number_field :water_level_end, class: 'input column is-8 is-medium input-locked', readonly: true %>
        </p>

        <p class="control columns">
          <label class="label column is-3">Hole Size:</label>
          <%= f.number_field :hole_size, class: 'input column is-8 is-medium input-locked', readonly: true %>
        </p>

        <p class="control columns">
          <label class="label column is-3">Method:</label>
          <%= f.text_field :method, class: 'input column is-8 is-medium input-locked', readonly: true %>
        </p>
      </div>

      <div class="column is-2 drill-log-controls">

        <p class="control">
          <a href='#' class='control-edit button button-full is-primary'>Edit</a>
        </p>

        <p class="control">
          <%= f.submit "Save Changes", class: 'control-save button button-full is-success' %>
        </p>

        <p class="control">
          <button class='control-cancel button button-full is-danger'>Cancel</button>
        </p>

        <p class="control">
          <button class="control-review button button-full is-info">Mark as Reviewed</button>
        </p>
      </div>
    <% end %>
    </div>
  </section>
  <!-- end log info -->

  <!-- layers header -->
  <section class='layers-header'>
    <div class="container">
      <header class='log-header columns'>
        <div class="log-column-title column is-1">
          <p class='is-text-centered'>Depth</p>
        </div>

        <div class="log-column-title column is-1">
          <p class='is-text-centered'>Graphic Log</p>
        </div>

        <div class="log-column-title column is-5">
          <p class='is-text-centered'>Description</p>
        </div>

        <div class="log-column-title column is-1">
          <p class='is-text-centered'>Type</p>
        </div>

        <div class="log-column-title column is-4">
          <p class='is-text-centered'>Sample Data</p>
        </div>
      </header>
    </div>
  </section>
  <!-- end layers header -->

  <!-- layers -->
  <section id='layers-log' class='layers-log'>
    <!-- <div class="container"> -->
      <div class="layer-rules layer-rules-left">
        <ul></ul>
      </div>

      <% for layer in @layers %>
        <div class="layer columns" data-height='<%= layer.thickness %>' data-id='<%= layer.id %>'>

          <div class="log-column-depth column layer-height is-1">
            <div class="depth-arrow arrow-up">&#8593;</div>
            <div class="depth-indicator"></div>
            <div class="depth-arrow arrow-down">&#8595;</div>
            <div class='col-centered'>
              <span class='thickness-val'><%= layer.round_thickness %></span>m
            </div>
            <div class="abs-depth">
              <div class='abs-depth-value'></div>
              <!-- <div class="abs-depth-arrow"></div> -->
            </div>
          </div>

          <div class="log-column-glog column is-1 gl gl-<%= layer.material_type.name %>">
            <p><%= layer.material_type.name %></p>
          </div>

          <div class="log-column-desc column is-5">
            <p><%= layer.description %></p>
          </div>

          <div class="log-column-type column is-1">
            <p></p>
          </div>

          <div class="log-column-data column is-4">

            <div class='layer-controls'>
              <button class='button is-primary button-layer-edit'><i class="fa fa-pencil-square-o"></i> Edit</button>
              <button class='button is-info button-data-edit'><i class="fa fa-plus"></i> Add</button>
            </div>
          </div>
        </div>

      <% end %>

      <canvas id='layer-data' class='layer-data'></canvas>

      <div class="layer-rules layer-rules-right">
        <ul></ul>
      </div>
    <!-- </div> -->
  </section>
  <!-- end layers -->

  <!-- new layer -->
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-container">
      <div class="modal-content">
        <div class="box">
          <h2>New Layer</h2>

          <form id='new-edit-layer' class='form new-layer' data-edit='' data-lid='' data-hole-id='<%= @drill_hole.id %>'>
            <div class="columns">
              <div class="column is-2">
                <p class="control">
                  <label class="label">Thickness</label>
                  <input id='new_thickness' type='number' class='input'></input>
                </p>
              </div>

              <div class="column is-2">
                <p class="control">
                  <label class="label" id='glog'>Graphic Log</label>
                  <span class='select'>
                    <select name='glog' id='new_glog'>
                      <% for material in @materials %>
                        <option value='<%= material.id %>'><%= material.name %></option>
                      <% end %>
                    </select>
                  </span>
                </p>
              </div>

              <div class="column is-8">
                <p class="control">
                  <label class="label">Description</label>
                  <textarea id='new_desc' class='textarea'></textarea>
                </p>
              </div>
            </div>
            <div class="columns">
              <div class="column is-12">
                <p class="control">
                  <button class='button is-success button-save'><i class="fa fa-check"></i> Save</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <button class="modal-close"></button>
  </div>

  <section class='layer-new'>
    <div class="container">
      <button id='add-layer' class='button is-info is-large add-layer'>Add New Layer</button>
    </div>
  </section>
  <!-- end new form -->
</article>

<script id="layer-template" type="text/x-handlebars-template">
  <div class="layer columns" data-height='{{ thickness }}' data-id='{{ id }}' style='height: {{ thickness }}px'>
    <div class="log-column-depth column layer-height is-1">
      <div class="depth-arrow arrow-up">&#8593;</div>
      <div class="depth-indicator"></div>
      <div class="depth-arrow arrow-down">&#8595;</div>
      <div class='col-centered'>
        <span class='thickness-val'>{{ thickness }}</span>m
      </div>
      <div class="abs-depth">
        <div class='abs-depth-value'></div>
        <!-- <div class="abs-depth-arrow"></div> -->
      </div>
    </div>

    <div class="log-column-glog column is-1 gl gl-Gravel">
      <p>Gravel</p>
    </div>

    <div class="log-column-desc column is-5">
      <p>{{ description }}</p>
    </div>

    <div class="log-column-type column is-1">
      <p></p>
    </div>

    <div class="log-column-data column is-4">

      <div class='layer-controls'>
        <button class='button is-primary button-layer-edit'><i class="fa fa-pencil-square-o"></i> Edit</button>
        <button class='button is-info button-data-edit'><i class="fa fa-plus"></i> Add</button>
      </div>
    </div>
  </div>
</script>
