<article class='page-body content'>
  <header class='page-header'>
    <h1 class='title'>Drill Hole Name</h1>
  </header>

  <section class='section drill-log'>
    <form class='columns'>
      <div class="column">
        <p class="control">
          <label class='label' for='logged-by'>Logged By</label>  
          <input class='input' type='text' name='logged-by' id='logged-by' ></input>
        </p>

        <p class="control">
          <label class="label">Location</label>
          <input class="input" type='text'></input>
        </p>

        <p class="control">
          <label class="label">Latitude</label>
          <input class='input' type='text'></input>
        </p>

        <p class='control'>
          <label class='label'>Longitude</label>
          <input class="input" type='text'></input>
        </p>

        <p class="control">
          <label class="label">Ground Elevation</label>
          <input class="input" type='number'></input>
        </p>

        <p class="control">
          <label class="label">Final Depth</label>
          <input class="input" type='number'></input>
        </p>
      </div>

      <div class="column">
        <h3>Water Levels</h3>
        <p class="control">
          <label class="label">At Start</label>
          <input class='input' type='number'></input>
        </p>

        <p class="control">
          <label class="label">At End</label>
          <input class="input"></input>
        </p>

        <p class="control">
          <label class="label">After</label>
          <input class="input"></input>
        </p>

        <hr>

        <p class="control">
          <label class="label">Hole Size</label>
          <input class="input"></input>
        </p>  

        <p class="control">
          <label class="label">Method</label>
          <input class='input'></input>
        </p>
      </div>
    </form>

    <button class='button is-primary'>Submit</button>
    <button class='button is-success'>Mark as Reviewed</button>
  </section>

  <section class='section layers-header'>
    <header class='log-header columns'>
      <div class="log-column-depth column">
        <p>Depth</p>
      </div>

      <div class="log-column-title column is-1">
        <p>Graphic Log</p>
      </div>

      <div class="log-column-title column is-5">
        <p>Description</p>
      </div>

      <div class="log-column-title column is-2">
        <p>Sample Type</p>
      </div>

      <div class="log-column-title column is-3">
        <p>Sample Data</p>
      </div>                        
    </header>    
  </section>

  <section id='layers-log' class='layers-log'>
    <!-- LAYER -->

    <div id="layer-rules">
      <ul></ul>
    </div>

    <% for layer in @layers %>

      <div class="layer columns" data-height='<%= layer.thickness %>'>
        <div class="log-column-depth column layer-height">
          <p><%= layer.round_thickness %> m</p>
        </div>

        <div class="log-column-glog column is-1 gl gl-<%= layer.material_type.name %>">
          <p><%= layer.material_type.name %></p>
        </div>

        <div class="log-column-desc column is-5">
          <p><%= layer.description %></p>
        </div>

        <div class="log-column-type column is-2">
          <p></p>
        </div>

        <div class="log-column-data column is-3">
          
        </div>                     
      </div>

    <% end %>

  </section>

  <section class='section layer-new'>
    <h2>New Layer</h2>
    <form>
      <div class="columns">
        <p class="control column is-1">
          <label class='label'>depth</label>
          <input class='input' type='number'></input>
        </p>

        <p class="control column is-1">
          <label class="label">Graphic</label>
          <input class="input" type='select'></input>
        </p>

        <p class="control column is-5">
          <label class="label">Description</label>
          <textarea class='textarea'></textarea>  
        </p>

        <p class="control column is-2">
          <label class="label">Sample Type</label>
          <input class="input"></input>
        </p>

        <p class="control column is-3">
          <label class="label">Sample Data</label>
          <input class="input"></input>
        </p>
      </div>

      <button class='button is-primary'>Submit</button>

    </form>
  </section>
</article>