<section class='layers-header'>
    <div class="container">
      <header class='log-header columns'>
        <div class="log-column-title column is-1">
          <p class='is-text-centered'>Depth</p>
        </div>

        <div class="log-column-title column is-1">
          <p class='is-text-centered'>Graphic Log</p>
        </div>

        <div class="log-column-title column is-5">
          <p class='is-text-centered'>Description</p>
        </div>

        <div class="log-column-title column is-1">
          <p class='is-text-centered'>Type</p>
        </div>

        <div class="log-column-title column is-4">
          <p class='is-text-centered'>Sample Data</p>
        </div>
      </header>
    </div>
  </section>
  <!-- end layers header -->

  <!-- layers -->
  <section id='layers-log' class='layers-log'>
    <!-- <div class="container"> -->
      <div class="layer-rules layer-rules-left">
        <ul></ul>
      </div>

      <% for layer in @layers %>
        <div class="layer columns" data-height='<%= layer.thickness %>' data-id='<%= layer.id %>' data-order='<%= layer.layer_order %>'>

          <div class="log-column-depth column layer-height is-1">
            <div class="depth-arrow arrow-up">&#8593;</div>
            <div class="depth-indicator"></div>
            <div class="depth-arrow arrow-down">&#8595;</div>
            <div class='col-centered'>
              <span class='thickness-val'><%= layer.round_thickness %></span>m
            </div>
            <div class="abs-depth">
              <div class='abs-depth-value'></div>
              <!-- <div class="abs-depth-arrow"></div> -->
            </div>
          </div>

          <div class="log-column-glog column is-1 gl gl-<%= layer.material_type.name %>">
            <p><%= layer.material_type.name %></p>
          </div>

          <div class="log-column-desc column is-5">
            <p><%= layer.description %></p>
          </div>

          <div class="log-column-type column is-1">
            <p></p>
          </div>

          <div class="log-column-data column is-4">
            <div class='layer-controls'>
              <button class='button is-primary button-layer-options'><i class="fa fa-gear"></i></button>
            </div>
          </div>
        </div>

      <% end %>

      <canvas id='layer-data' class='layer-data'></canvas>

      <div class="layer-rules layer-rules-right">
        <ul></ul>
      </div>
    <!-- </div> -->
  </section>
  <!-- end layers -->

  <section class='layer-new'>
    <div class="container">
      <button id='add-layer' class='button is-info is-large add-layer'><i class="fa fa-plus-circle"></i> Add New Layer</button>
    </div>

    <div id='field-test-data' class='hidden'>
      <% for test in @field_tests %>
        <% if test %>
          <span class='test-data field-test' data-type='<%= test.test_type %>' data-from='<%= test.depth_from %>' data-to='<%= test.depth_to %>'></span>
        <% end %>
      <% end %>
    </div>

    <div id='lab-test-data' class='hidden'>
      <% for test in @lab_tests %>
        <% if test %>
          <span class='test-data lab-test' data-type='<%= test.test_type %>' data-from='<%= test.depth_from %>' data-to='<%= test.depth_to %>'></span>
        <% end %>
      <% end %>
    </div>
  </section>
  <!-- end new form -->
</article>