<article class='page-body content'>

  <header class='page-header'>
    <div class="container">
      <div class='heading'>
        <h1 class='title'>My Sites</h1>
      </div>   
    </div>
  </header>


  <section class='section'>
      <div class="container">
      <div class="columns sites-columns">
        <% @sites.each do |site| %>
        <div class="column is-third-tablet is-quarter-desktop drill-card">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3 static-map">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-5"><%= link_to site.site_name, site_path(site.id) %></p>
                </div>
              </div>
              <div class="content notification is-info">
                <p class="site-lat" data-site-lat="<%= site.center_lat %>">Latitude: <%= number_with_precision(site.center_lat, precision: 3) %></p>
                <p class="site-lng" data-site-lng="<%= site.center_lng %>">Longitude: <%= number_with_precision(site.center_lng, precision: 3) %></p>
                <p>Drill Holes: <%= site.drill_holes.count %></p>
              </div>
            </div>
          </div>
          </div>
        <% end %>

        <div class="column is-third-tablet is-quarter-desktop new-site">
          <div class="new-site-card">
            <div class="add-site">
              <a id="add-site-button"><%= image_tag("add-site.png", :alt => "rss feed") %></a>
            </div>
            <div class="modal">
              <div class="modal-background"></div>
              <div class="modal-content">
                <div class="box">
                  <div class="content">
                    <div>
                      <h1>New Site</h1>
                      <p class="control">
                        <label for="new-site-name" class="label">Site Name: </label>
                        <input type="text" placeholder="Enter site name" id="new-site-name" class="input" />
                      </p>
                      <div id="geo-search-map" class='map'></div>
                      <a id="submit-site" class="button is-primary" style="display: none">Create</a>
                    </div>
                  </div>
                </div>
              </div>
              <button class="modal-close"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</article>
