<article class='page-body content'>

  <header class='page-header'>
    <div class="container">
      <div class='heading'>
        <h1 class='title'>My Sites</h1>
      </div>
    </div>
  </header>


  <section class='section'>
      <div class="container">
      <div class="columns sites-columns">
        <% @sites.each do |site| %>
        <div class="column is-third-tablet is-third-desktop drill-card">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3 static-map">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-5"><%= link_to site.site_name, site_path(site.id) %></p>
                </div>
              </div>
              <div class="content notification is-info">
                <p class="site-lat" data-site-lat="<%= site.center_lat %>">Latitude: <%= number_with_precision(site.center_lat, precision: 3) %></p>
                <p class="site-lng" data-site-lng="<%= site.center_lng %>">Longitude: <%= number_with_precision(site.center_lng, precision: 3) %></p>
                <p>Drill Holes: <%= site.drill_holes.count %></p>
              </div>
            </div>
          </div>
          </div>
        <% end %>

        <div class="column is-third-tablet is-third-desktop new-site">
          <div class="new-site-card">
            <div class="add-site">
              <a id="add-site-button"><%= image_tag("add-site.png", :alt => "rss feed") %></a>
            </div>

          <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
              <div class="box">
                <div class="content">
                  <div>
                    <h1>Select site from map, or enter manually</h1>
                    <p class="control">
                      <%= form_for @site do |f|%>
                        <div class="columns">
                          <div class="column is-third-tablet is-half-desktop">
                            <p>
                              <%= f.label 'Site Name:' %><br />
                              <%= f.text_field :site_name, required: true%>
                            </p>
                            <p>
                              <%= f.label 'Latitude: ' %><br />
                              <%= f.text_field :center_lat, required: true %>
                            </p>
                            <p>
                              <%= f.label 'Longitude: ' %><br />
                              <%= f.text_field :center_lng, required: true %>
                            </p>
                          </div>
                          <div class="column is-third-tablet is-half-desktop">
                            <p>
                              <%= f.label 'Expected completion date:' %><br />
                              <%= f.text_field :drill_by_date%>
                            </p>
                            <p>
                              <%= f.label 'Expected meters drilled:' %><br />
                              <%= f.text_field :drill_to_depth%>
                            </p>
                            <p>
                              <%= f.submit 'Create New Site', :class => 'button is-primary' %>
                            </p>
                          </div>
                        </div>
                      <% end %>
                    </p>
                    <div id="geo-search-map" class='map'></div>
                  </div>
                </div>
              </div>
              <button class="modal-close"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</article>
