<article class='page-body content'>

  <header class='page-header'>
    <div class="container">
      <div class='heading'>
        <h1 class='title'>My Sites</h1>
      </div>
    </div>
  </header>


  <section class='section'>
      <div class="container">
      <div class="columns sites-columns">
        <% @sites.each do |site| %>
        <div class="column is-third-tablet is-third-desktop drill-card">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3 static-map">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-5"><%= link_to site.site_name, site_path(site.id) %></p>
                </div>
              </div>
              <div class="content notification is-info">
                <p class="site-lat" data-site-lat="<%= site.center_lat %>">Latitude: <%= number_with_precision(site.center_lat, precision: 3) %></p>
                <p class="site-lng" data-site-lng="<%= site.center_lng %>">Longitude: <%= number_with_precision(site.center_lng, precision: 3) %></p>
                <p>Drill Holes: <%= site.drill_holes.count %></p>
              </div>
            </div>
          </div>
          </div>
        <% end %>

        <div class="column is-third-tablet is-third-desktop new-site">
          <div class="new-site-card">
            <div class="add-site">
              <a id="add-site-button"><%= image_tag("add-site.png", :alt => "rss feed") %></a>
            </div>

          <div class="modal" id="add-site-modal">
            <div class="modal-background"></div>
            <div class="modal-content">
              <div class="box">
                <div class="content">
                  <div>
                    <h1>Select site from map, or enter manually</h1>
                    <p class="control">
                      <%= form_for @site, html: { class: 'columns' } do |f|%>
                        <div class="column is-half-tablet is-half-desktop">
                          <p class="columns">
                            <%= f.label 'Site Name:', :class => "label column is-3" %><br />
                            <%= f.text_field :site_name, :class => 'input column is-8 is-medium input-locked', required: true%>
                          </p>
                          <p class="columns latitude-input">
                            <%= f.label 'Latitude: ', :class => "label column is-3" %><br />
                            <%= f.text_field :center_lat, :class => 'input column is-8 is-medium input-locked', required: true %>
                            <span id="latitude-helper">Enter Valid Latitude</span>
                          </p>
                          <p class="columns longitude-input">
                            <%= f.label 'Longitude: ', :class => "label column is-3" %><br />
                            <%= f.text_field :center_lng, :class => 'input column is-8 is-medium input-locked', required: true %>
                            <span id="longitude-helper">Enter Valid Longitude</span>
                          </p>
                        </div>
                        <div class="column is-half-tablet is-half-desktop">
                          <p class="columns">
                            <%= f.label 'Expected completion date:', :class => "label column is-5" %><br />
                            <%= f.date_field :drill_by_date, :class => 'input column is-6 is-medium input-locked' %>
                          </p>
                          <p class="columns">
                            <%= f.label 'Expected meters drilled:', :class => "label column is-5" %><br />
                            <%= f.text_field :drill_to_depth, :class => 'input column is-6 is-medium input-locked' %>
                          </p>
                          <p class="dh-submit-button" id="site-submit-button">
                            <%= f.submit 'Create New Site', :class => 'button is-primary' %>
                          </p>
                        </div>
                      <% end %>
                    </p>
                    <div id="geo-search-map" class='map'></div>
                  </div>
                </div>
              </div>
              <button class="modal-close"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</article>
