<article class='page-body content'>
  <div class="page-title">
    <h1>Site Name</h1>
  </div>
  <section class='section site-overview'>

    <a class="button is-primary">Add new Drill Hole</a>
    <%= image_tag("site-map.png", :alt => "rss feed") %>

  </section>

  <section class='section site-charts'>

    <div class="columns">
      <div class="column">
        <%= image_tag("charts.png", :alt => "rss feed") %>
      </div>
      <div class="column">
        <%= image_tag("charts.png", :alt => "rss feed") %>
      </div>
    </div>

  </section>

  <section class='section drill-holes-table'>

    <h1>Drill Holes</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Depth</th>
          <th>Location</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>Depth</th>
          <th>Location</th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
      <tbody>
        <% @drill_holes.each do |drill_hole| %>
          <tr>
            <td><%= drill_hole.name %></td>
            <td><%= number_with_precision(drill_hole.depth, precision: 2) %></td>
            <td><%= Site.find(id = drill_hole.site_id).site_name %></td>
            <td><%= link_to "Edit", edit_site_drill_hole_path(drill_hole.site_id, drill_hole.id), :class => "button is-primary" %></td>
            <td><%= link_to "View", site_drill_hole_path(drill_hole.site_id, drill_hole.id), :class => "button is-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </section>

</article>
