<article class='page-body content'>
  <header class='page-header'>
    <div class="container">
      <div class='heading'>
        <h1 class='title'><%= @site.site_name %></h1>
      </div>
    </div>
  </header>

  <section class='section site-overview'>
    <div class="container">
      <a class="button is-primary" id="add-drill-hole-button">Add new Drill Hole</a>
      <div id='markers-map' class='map'></div>
    </div>
  </section>

  <section class='section site-charts'>
    <div class="container">
      <div class="columns">
        <div class="column" id="project-details" style="min-width: 310px; height: 400px; margin: 0 auto" data-site-id="<%= @site.id %>"></div>
        <div class="column" id="material-details" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      </div>
    </div>
  </section>

  <section class='section drill-holes-table'>
    <div class="container">
      <h1>Drill Holes</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Depth</th>
            <th>Location</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Depth</th>
            <th>Location</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th></th>
          </tr>
        </tfoot>
        <tbody>
          <% @drill_holes.each do |drill_hole| %>
            <tr class="drill-row" data-dh-details="<%= {drill_hole: drill_hole, site: @site }.to_json %>">
              <td><%= drill_hole.name %></td>
              <td><%= number_with_precision(drill_hole.depth, precision: 2) %></td>
              <td><%= @site.site_name %></td>
              <td><%= number_with_precision(drill_hole.dh_lat, precision: 7) %></td>
              <td><%= number_with_precision(drill_hole.dh_lng, precision: 7) %></td>
              <td><%= link_to "View", site_drill_hole_path(@site.id, drill_hole.id), :class => "button is-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</article>
