<!DOCTYPE html>
<html>
<head>
  <title>Syncline</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<%= render 'layouts/partials/nav_bar' %>
<div class="page-content">
  <div class="container">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value) %>
    <% end %>
    <%= yield %>
  </div>
</div>
<%= render 'layouts/partials/footer' %>

<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
